*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background-color:#ffffff;
    margin:;
  


}

.nav-links{
    display: flex;
    gap: 32px;
}

.nav-links a{
    text-decoration: none;
    color: #333333;
    font-size:16px;
    
}

.btn{
    background-color:#30B868 ;
    border: none;
    gap: 10;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    margin-right: 0% auto;
    color: white;
    
}

nav .menu{
    display:flex;
    list-style-type: none;
    gap: 32px;
}

